/*2. Добавляем стили. Создаем CSS-модуль для стилей нашего компонента. Он должен занимать 
всю ширину, цвет текста - серый, выравнивание текста по центру, размер шрифта 14.
*/

.wrapper {
    width: 100%;
    background-color: rgb(120, 241, 158);
    color: grey;
    text-align: center;
    font-size: 14px;
}

